@media screen and (min-width: 768px) {
  .services {
    .section {
      display: flex;
      flex-wrap: wrap;
      .outer {
        flex: 0 0 50%;
      }
    }
  }
  .feature {
    .section {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .outer {
      flex: 0 0 calc(50% - 1rem);
    }
  }
  .gallery {
    display: flex;
    flex-wrap: wrap;
    div {
      flex: 0 0 50%;
    }
  }
}
